/********************************************/
/* CUSTOM PROPERTIES */
/********************************************/
:root {
  /* Color properties */
  --color-primary: #13183f;
  --color-primary-light: #666ca3;
  --color-secondary: #f74780;
  --color-grey: #83869a;
  --color-grey-light: #ffa7c3;
  --color-white: #fff;
  --gradient-primary: linear-gradient(to bottom, #4851ff, #f02aa6);
  --gradient-secondary: linear-gradient(to bottom, #ff6f48, #f02aa6);
  --gradient-light: linear-gradient(to bottom, #fff, #f0f1ff);

  /* Font properties */
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --heading-xl-fs: 5.6rem;
  --heading-xl-lh: 7rem;
  --heading-lg-fs: 4rem;
  --heading-lg-lh: 5.1rem;
  --heading-md-fs: 3.2rem;
  --heading-md-lh: 4rem;
  --heading-sm-fs: 2.4rem;
  --heading-sm-lh: 2.8rem;
  --body-md: 1.8rem;
  --body-sm: 1.6rem;
  --body-lh: 2.8rem;
}

/********************************************/
/* BASIC RESET */
/********************************************/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-grey);
  font-family: var(--font-body);
  font-size: var(--body-sm);
  font-weight: 500;
  line-height: var(--body-lh);
}

img,
picture,
video {
  display: inline-block;
  width: 100%;
}

input,
textarea,
button {
  font-family: inherit;
}

/********************************************/
/* TYPOGRAPHY */
/********************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--color-primary);
  font-weight: 800;
}

.h1 {
  font-size: var(--heading-lg-fs);
  line-height: var(--heading-lg-lh);
}

.h2 {
  font-size: var(--heading-sm-fs);
  line-height: var(--heading-sm-lh);
}

.h3 {
  font-size: 2rem;
}

/********************************************/
/* LAYOUT & GRID */
/********************************************/

/* Container */
.container {
  width: 100%;
  max-width: 120rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
.footer {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  background-color: var(--color-primary);
}

.footer-logo {
  width: 9rem;
}

/********************************************/
/* COMPONENTS */
/********************************************/

/* Buttons */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 2.4rem;
  line-height: 1;
  border: none;
  border-radius: 10rem;
  transition: all 0.3s ease;
  cursor: pointer;
  text-transform: capitalize;
  overflow: hidden;
  text-decoration: none;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  background-color: var(--color-primary);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--color-primary-light);
}

.btn-gradient,
.btn-gradient:link,
.btn-gradient:visited {
  z-index: 15;
  position: relative;
  background-color: transparent;
}

.btn-gradient::after,
.btn-gradient::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.btn-gradient::after {
  z-index: -1;
  opacity: 0;
}

.btn-gradient::before {
  z-index: -2;
}

.btn-gradient::after {
  background-color: var(--color-white);
}

.btn-gradient-primary::before {
  background-image: var(--gradient-primary);
}

.btn-gradient-secondary::before {
  background-image: var(--gradient-secondary);
}

.btn-gradient:hover::after {
  opacity: 0.5;
}

.btn-inline,
.btn-inline:link,
.btn-inline:visited {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
  color: var(--color-secondary);
  transition: all 0.3s ease;
}

.btn-inline:hover,
.btn-inline:active {
  color: var(--color-grey-light);
}

.btn-link:link,
.btn-link:visited {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: none;
  display: inline-block;
  color: var(--color-secondary);
  transition: all 0.3s ease;
}

.btn-link:hover,
.btn-link:active {
  color: var(--color-grey-light);
}

/********************************************/
/* UTILS */
/********************************************/

/* Flex */
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

/**************************************/
/* Responsive styling */
/**************************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: var(--body-md);
  }

  .h1 {
    font-size: var(--heading-xl-fs);
    line-height: var(--heading-xl-lh);
  }

  .h2 {
    font-size: var(--heading-md-fs);
    line-height: var(--heading-md-lh);
  }

  .h3 {
    font-size: var(--heading-sm-fs);
    line-height: var(--heading-sm-lh);
  }

  .btn {
    font-size: 1.8rem;
    padding: 1.9rem 3.2rem;
  }

  .footer-logo {
    width: 11.4rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
